@use '../../styles/colors.scss';

.calendar {
  &Wrapper {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid colors.$light-grey;
  }

  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;

  &__day {
    background-color: colors.$white;
    padding: 0 2px;
    border: 1px solid colors.$sakura-bark;
    display: grid;
    font-size: 1.3rem;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas:
      "date . ."
      "Income Income Income"
      "Expense Expense Expense";
  }

  &__date {
    grid-area: date;
  }

  &__dailyIncome {
    grid-area: Income;
    text-align: right;
    color: colors.$sea-blue;
  }

  &__dailyExpense {
    grid-area: Expense;
    text-align: right;
    color: colors.$red;
  }

  &__dayOfWeek {
    background-color: colors.$light-grey;
    color: colors.$sakura-branch;
    padding: 4px 8px;
    text-align: center;
    font-size: 1.3rem;
  }
}
