@use '../../styles/colors.scss';

.dateSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  
  &__input {
    width: 30rem;
    height: 4rem;
    font-size: 2rem;
    background-color: colors.$sakura-light-pink;
    border-radius: 5px;
    border-width: 1px;
  }
  
  &__prev,
  &__next {
    color: colors.$sakura-branch;

    &:hover {
      transform: scale(1.1);
    }
  }
}
