@use '../../styles/colors.scss';

.dateSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  
  &__input {
    width: 300px;
    height: 40px;
    font-size: 1.6rem;
  }
  
  &__prev,
  &__next {
    color: colors.$sakura-branch;

    &:hover {
      transform: scale(1.1);
    }
  }
}
