@use '../../styles/colors.scss';

.yearMonthSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;

  &__input {
    width: 300px;
    height: 50px;
    font-size: 1.6rem;
  }
  
  &__prev,
  &__next {
    color: colors.$sakura-branch;

    &:hover {
      transform: scale(1.1);
    }
  }
}
