@use '../../styles/colors.scss';
@use '../../styles/layouts.scss';

.categoryList {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;

  &Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: colors.$light-grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    z-index: layouts.$category-list-stack;
    font-size: 1.6rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    background-color: colors.$white;
    border-bottom: 1px solid colors.$sakura-bark;
  }

  &__closeButton {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0.5rem;
    height: 4rem;
    border-radius: 5px;
    background-color: colors.$white;

    &:hover {
      cursor: pointer;
      background-color: colors.$light-grey;
    }
  }

  &__item {
    background-color: colors.$white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid colors.$grey;
    padding: 1rem;
    height: 5rem;

    &:first-child {
      border-top: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      cursor: pointer;
      background-color: colors.$sakura-light-pink;
    }

    &Name {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
    }
  }
}
