@use '../../styles/colors.scss';

.categoryIconPicker {
  width: 100%;
  height: 20rem;;
  padding: 1rem;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(4, 1fr);
  overflow: auto;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5rem;
    border: 2px solid colors.$light-grey;
    border-radius: 5px;
    cursor: pointer;

    &.selected {
      border: 2px solid colors.$sakura-bark;
    }
  }
}