@use '../styles/colors.scss';
@use '../styles/layouts.scss';

.appHeader {
  background-color: colors.$light-grey;
  border-bottom: 1px solid colors.$sakura-bark;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;

  &Wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: layouts.$app-header-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
