@use '../styles/layouts.scss';

.appMain {
  position: fixed;
  top: 0;
  bottom: layouts.$app-footer-height;
  z-index: layouts.$app-main-stack;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
