@use '../styles/colors.scss';

.calendarView {
  &Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
  }
}