@use '../styles/colors.scss';

.expensesList {
  font-size: 1.6rem;

  &Wrapper {
    width: 100%;
    overflow: auto;
  }

  &__monthlyTotal {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &Title {
        font-size: 1.3rem;
      }

      &--income {
        color: colors.$sea-blue;
      }

      &--expense {
        color: colors.$red;
      }
    }
  }

  &__dailyTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    font-size: 1.3rem;
    background-color: colors.$light-grey;
  }

  &__expenseItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid colors.$grey;
    padding: 1rem 0.5rem;

    &:hover {
      cursor: pointer;
      background-color: colors.$sakura-light-pink;
    }
  }

  &__expenseTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__expenseAmount {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.income {
      color: colors.$sea-blue;
    }
  }
}