@use '../styles/colors.scss';

.expenseTypeSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
  background-color: colors.$light-grey;
  border-radius: 4px;
  margin: 1rem;
  font-size: 1.6rem;
  font-weight: 600;

  &__button {
    color: colors.$sakura-blossom;
    padding: 0.5rem 2rem;

    &.active {
      background-color: colors.$sakura-blossom;
      color: colors.$white;
      border-radius: 4px;
    }
  }
}
