.expenseTypeSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
  background-color: #878787;
  border-radius: 4px;
}

.expenseTypeSelector__button {
  color: #f56e6e;
  padding: 0.5rem 2rem;
}

.expenseTypeSelector__button.active {
  background-color: #f56e6e;
  color: #ffffff;
  border-radius: 4px;
}