@use '../../styles/colors.scss';
@use '../../styles/layouts.scss';

.alertWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: layouts.$modal-stack;
  background-color: rgba(242 242 242 / 40%);
}

.alertWrapper.hidden {
  display: none;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  border-radius: 5px;
  min-width: 60%;
  min-height: 30%;
  background-color: colors.$sakura-blossom;
  font-size: 2rem;
  color: colors.$white;
}
