@use '../../styles/colors.scss';
@use '../../styles/layouts.scss';

.dialog {
  &Wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: layouts.$modal-stack;
    background-color: rgba(242 242 242 / 40%);

    &.hidden {
      display: none;
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}