$white: #ffffff;
$red: red;
$light-grey: #f2f2f2;
$grey: #808080;
$black: #333333;
$sakura-cherry: #ff6b99;
$sakura-blossom: #f78fb3;
$sakura-bark: #654321;
$sakura-branch: #8b4513;
$gold: #d4af37;
$sea-blue: #006994;
