$app-footer-height: 4rem;
$app-footer-stack: 100;
$app-main-stack: 200;
$expense-form-stack: 300;
$update-expense-form-stack: 400;
$category-list-stack: 500;
$category-form-stack: 600;
$modal-stack: 1000;
